li.sidebartree-item {
  display: flex;
  flex-flow: column;

  font-size: 0.75rem;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 6px;

    border-radius: 3px;

    cursor: pointer;

    transition: 100ms ease;

    button {
      opacity: 0;

      border: none;

      background-color: transparent;

      svg {
        color: #b24242;
      }
    }

    &:hover {
      & > button {
        opacity: 1;
      }
    }
  }

  &[data-selected='false'] > div:hover {
    background-color: rgba(85, 85, 85, 0.25);
  }

  &[data-selected='true'] > div {
    background-color: rgb(43, 43, 43);
  }

  & > ul {
    padding-left: 8px;
  }
}
