* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --accent: #b2426b;
}

html,
body {
  min-height: 100vh;
  height: 0;
  color: rgb(204, 204, 204);
  background-color: rgba(37, 37, 37, 0.95);
}

#application {
  height: 100%;
}

body,
button,
input,
textarea,
select,
label {
  -webkit-font-smoothing: antialiased;
  font-family: Inter, sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Poppins, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
}
