.mococa-input {
  display: flex;
  flex-flow: column;
  gap: 4px;

  span {
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
  }

  input {
    padding: 6px 8px;

    height: fit-content;

    border: 1px solid rgba(54, 54, 54, 0.95);
    border-radius: 4px;

    background-color: rgba(37, 37, 37, 0.95);

    color: white;
  }

  input:disabled {
    color: #c6c6c6;
  }
}

.mococa-button {
  display: grid;
  place-items: center;

  height: inherit;

  background-color: var(--accent);

  color: white;

  padding: 8px;

  border: none;
  border-radius: 4px;

  transition: 350ms ease;
}
